{% extends "layout.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/x3dom.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/x3domProtos.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/tokamakModelControl.js") }}"></script>
    <script>
        $(document).ready(function () {
            $("#control-tabs").tabs();
            $('input.choice-radio').checkboxradio();
            {% for key, (_, _, _, _, sl_max, sl_step, _, recommended_val) in control_tabs_dict.items() if sl_max %}
            $("#slider-{{ key }}").slider({
                min: 0,
                max: {{ sl_max }},
                step: {{ sl_step }},
                orientation: "horizontal",
                slide: function (event, ui) {
$("#slider-value-{{ key }}").val(ui.value);
                }
            });
            {% endfor %}
            {% if session['access_level'] > 1 %}
            $("#slider-tcd").slider({
                min: 0,
                max: 20000,
                step: 100,
                orientation: "horizontal",
                slide: function (event, ui) {
$("#slider-value-tcd").val(ui.value);
                }
            });
            set_slider_value("tcd", 0);
            {% endif %}
            // set from cookies
            set_slider_value("Bt", 600);
            set_slider_value("CD", 400);
            set_slider_value("gas", 16);
        }
        )
     function set_slider_value(sl_id, value) {
         $("#slider-" + sl_id).slider("value", value);
         $("#slider-value-" + sl_id).val(value);
     }
     function setStatic3DImage(tabId) {
         $('img#static-3D')[0].src = "{{ url_for('static', filename='img/ctrlroom_intro.png') }}".replace('intro', tabId);
     }
     function tokamakViewIntro() {
         TokamakModel.setView('initial');
         TokamakModel.showTokamak();
     }
     function tokamakViewBt() {
         TokamakModel.setView('mag_field');
         TokamakModel.hideTokamak();
         ['toroidcoils', 'coilsconnection', 'magelectronses'].forEach(TokamakModel.showComponent);
     }

     function tokamakViewCd() {
         TokamakModel.setView('current_drive');
         TokamakModel.hideTokamak();
         ['stand', 'transcore', 'transcoils', 'magelectrons'].forEach(TokamakModel.showComponent);
     }
     function tokamakViewGas() {
         TokamakModel.setView('gas_stand');
         TokamakModel.hideTokamak();
         ["bigcrossN",
	        "bigcrossS",
	        "chamber",
          "smallcrossE",
          "smallcrossN",
          "smallcrossS",
          "smallcrossW",
          'airPump', 'gas_green', 'gas_red'].forEach(TokamakModel.showComponent);
     }

     function tokamakViewPreion() {
         TokamakModel.setView('preion');
         TokamakModel.hideTokamak();
         ['ring_yellow'].forEach(TokamakModel.showComponent);
     }
     function tokamakViewSubmit() {
         TokamakModel.setView('front_tokamak');
         TokamakModel.showTokamak();
     }

     function getSliderValue(slId) {
         return Number($('#slider-value-' + slId).val());
     }

     function isChecked(radioId) {
         return $('#choice-' + radioId)[0].checked
     }
     function submitRequest() {
         req = {
             Identification: "{{ session.get('identification', 'unknown') }}"
         }
         req.h2 = getSliderValue('gas');
         req.ucd = getSliderValue('CD');
         req.tcd = {% if session['access_level'] > 1 %}getSliderValue('tcd'){% else %}0{% endif %};
         req.ub = getSliderValue('Bt');
         req.gas = isChecked('gas-0') ? 'H' : 'He';
         req.ion = isChecked('preion-0') ? 1 : 0;
         req.Comment = $('#discharge-comment').val();
         console.log(req);
         var divc = $('div#comment-form');
         if (req.Comment.length > 1) {
             divc.removeClass('has-error').addClass('has-success');
         } else {
             divc.removeClass('has-success').addClass('has-error');
             return
         }
         $.post('{{ url_for('discharge_request') }}',
                { parameters: JSON.stringify(req)},
                function (response, status, jxhr) {/* TODO args */
                    //ret = JSON.parse(response);
                    var ret = response;
                    var bubble = '<div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> Your discharge request number ' + ret.vshotno.toString() + ' was accepted. Estimated time of execution in ' + ret.minutesToDischarge.toString() + ' minutes.</div>';
                    $('p#submit-line').after(bubble);

                },
                'json'
         );
     }
    </script>
{% endblock %}

{% block container_div %}<div class="container-fluid">{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div id="control-tabs">
                <ol>
                    {% for key, (tab_name, _, _, _, _, _, _, _) in control_tabs_dict.items() %}
                    <li><a href="#control-tab-{{ key }}" id="tab-link-{{ key }}" onclick="{% if showX3DOM %}tokamakView{{ key | capitalize }}(){% else %}setStatic3DImage('{{ key }}'){% endif %}">{{ tab_name }}</a></li>
                    {% endfor %}
                    <li><a href="#control-tab-submit" id="tab-link-submit" onclick="{% if showX3DOM %}tokamakViewSubmit(){% else %}setStatic3DImage('submit'){% endif %}">Submit</a></li>
                </ol>
                {% for (key, (tab_name, description, label, units, sl_max, sl_step, choices, recommended_val)) in control_tabs_dict.items() %}
                <div id="control-tab-{{ key }}">
                    <div height="100px">
                        <p class="lead">{{ description | safe }}{% if key == 'CD' and session['access_level'] > 1 %}The electric field capacitors are discharged after a configurable delay with respect to the magnetic field capacitors.{% endif %}</p>
                    </div>
                     <img alt="Experiment schematic for {{ tab_name }}" src="{{ url_for('static', filename='img/expsetup_basic_'+ key + '.png') }}" width="100%" />
                    {% if key == 'CD' and session['access_level'] > 1 %}
                     <p><label>Time delay of electric field start after the magnetic field starts t<sub>E<sub>t</sub></sub>=
                        <input type="text" id="slider-value-tcd" readonly style="border:0;text-align:right;width:5ex">&nbsp;micro seconds
                    </label></p>
                    <div id="slider-tcd" ></div>
                    {% endif %}
                    {% if sl_max %}
                    <p><label>{{ label | safe }}=
                        <input type="text" id="slider-value-{{ key }}" readonly style="border:0;text-align:right;width:{{ sl_max | string | length }}ex;"">&nbsp;{{ units}}
                    </label>
                    <div id="slider-{{ key }}" ></div></p>
                    {% endif %}
                    {% if choices %}
                    <fieldset>
                        {% if not sl_max %}
                        <legend>{{ label }}</legend>
                        {% else %}
                        <br>
                        {% endif %}
                        {% for choice in choices %}
                        <label><input class="choice-radio" type="radio" name="choice-{{ key }}" id="choice-{{ key }}-{{ loop.index0 }}" value="{{ choice }}" {% if loop.first %}checked {% endif %}k>{{ choice }}</label>
                        {% endfor %}
                    </fieldset>
                    {% endif %}
                        <p class="lead">
                            <button class="btn btn-primary" onclick="$('#tab-link-{{ tabs[loop.index] }}').click()">Next</button>
                            {% if recommended_val %}
                            <button type="button" class="btn btn-info" onclick="set_slider_value('{{ key }}', {{ recommended_val }});{% if key == 'CD' and session['access_level'] > 1 %}set_slider_value('tcd', 0);{% endif %}">Set recommended value</button>
                            {% endif %}
                        </p>
                </div>
                {% endfor %}
                <div id="control-tab-submit">
                    <p class="lead">Write a comment describing your discharge configuration, i.e. the scientific aim of your experiment. Or just leave a friendly message.</p>
                    <div class="form-group" id="comment-form">
                        <label class="control-label" for="discharge-comment">Comment</label>
                        <input class="form-control" type="text" id="discharge-comment">
                    </div>
                    <p id="submit-line">Click the <span class="text-primary">Submit</span> button to send your configuration into the queue.
                        <button id="submit-discharge" class="btn btn-primary" onclick="submitRequest()">Submit</button></p>
                    <p>After submission you can <span class="text-primary">watch the discharge Live</span> or go back to the <span class="text-info">Introduction tab</span> and start again. Or you can go to specific control tabs and reconfigure the discharge and then submit another discharge request.</p> <a href="{{ url_for('status') }}" target="_blank" class="btn btn-info" style="color: white;">Watch the discharge Live!</a> <button class="btn btn-info" onclick="$('#tab-link-intro').click()">Go back to Introduction</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="disabled"><a href="#">3D model rendering method:</a></li>
                <li role="presentation" class="{% if not showX3DOM %}active{% endif %}"><a href="{{ url_for('control_room', showX3DOM=False) }}">Static image (fast)</a></li>
                <li role="presentation" class="{% if showX3DOM %}active{% endif %}"><a href="{{ url_for('control_room', showX3DOM=True) }}">Interactive X3DOM (slower)</a></li>
            </ul>
{% if showX3DOM %}
<!-- inserting x3d object into html doument -->
	<!-- 3D scene -->
	<X3D id="building" width="100%" height="60%">
		<Scene DEF='x3d-scene'>
		    <Group>
				<Inline url='"{{ url_for("static", filename="modelx3d/building.x3d") }}"' nameSpaceName="building" mapDEFToID="true" onload="loading();"></Inline>
			  <!-- <Inline url='"miscellaneous/G4I1.x3d"' nameSpaceName='misc' mapDEFToID='true'></Inline> -->

			</Group>
		</Scene>
	</X3D>
	<script type="text/javascript">
		//-----------------------------------------------------------
		// Processing X3D existing prototypes for scene loading
		// X3D node: <Inline />
		// @file building.x3d
		//-----------------------------------------------------------
		function loading() {
		    var building = document.getElementById('building');
		    x3domProtos.processProtos(building);
		}
	</script>
  <!-- ending of inserting x3d object -->
  <br/>
  <script>
   function takeScreenshot() {
       var imgUrl = $('#building')[0].runtime.getScreenshot();
       var aImg = $('#download-screenshot');
       aImg[0].href = imgUrl;
       aImg.removeClass('disabled');
   }
  </script>
  <button type="button" class="btn btn-primary" onclick="takeScreenshot()">Take screenshot</button>
  <a id="download-screenshot" role="button" class="btn btn-info disabled" href="" download="screenshot_golem_ctrl_room.png">Download screenshot</a>
  {% else %}
  <img id="static-3D" src="{{ url_for('static', filename='img/ctrlroom_intro.png') }}" alt="" width="100%"/>
  {% endif %}
        </div>
    </div>
{% endblock  %}
